@page "/Membership"
@using NCCC_Blazor.Data
@inject MemberShipHelperService MembershipServices
@inject IConfiguration Configuration

<header class="membership_header header">
    <div class="header_content">
        <h2 class="heading">MEMBERSHIP</h2>
    </div>
</header>
<section>
    <div class="wrapper center">
        <h2 class="sub_heading">We currently offer following yearly membership plan:</h2>
        <h2 class="sub_heading">Player Membership -- $100.00</h2>
        <h2 class="sub_heading">General Membership -- $25.00</h2>
    </div>
    <br /><br /><br />

    <div class="membership_form wrapper" id="membership_form">
        <h2 class="center">Get Membership</h2>
        <br /><br />
        <div class="flex center">
            <div><p class="no_wrap">Full Name* :</p><input type="text" @bind="memberName" id="fullname" placeholder="FullName" /></div>
            <div><p class="no_wrap">Email Address*:</p><input type="email" @bind="memberEmail" id="email" placeholder="name@email.com" /></div>
        </div>
        <div class="flex center">
            <div><p class="no_wrap">Phone Number*:</p><input type="number" id="phone" @bind="memberPhone" placeholder="9876543210" /></div>
            <div><p class="no_wrap">Address:</p><input type="text" id="address" @bind="memberAddress" placeholder="123 Home Address" /></div>
        </div>
        <p class="no_wrap">Message:</p><textarea type="text" rows="4" maxlength="200" id="message" @bind="memberMessage" placeholder="Type you Message"></textarea>
        <div id="membershipTypeBlock">
            Membership Type: <select id="membershipType" @bind="TypeOfMembership">
                <option value="@membershipType.player">Player Membership ($100.00)</option>
                <option value="@membershipType.general">General Membership ($25.00)</option>
            </select>
        </div>
        <input type="checkbox" id="paid" name="paid" value="false" @bind="checkbox" /> <span>I've already paid the fees.</span>
        <p class="disabled" id="paymentMethodLabel" style="opacity: 0;">Please specify your payment method:</p>
        <input class="disabled" id="paymentMethod" type="text" name="paymentMethod" @bind="paymentMethod" placeholder="eg:(PayPal, e-Transfer, Cash, ...)" disabled  style="opacity:0;" />
        <br /><br />
        <input class="disabled button" type="submit" @onclick="@AddMember" name="submit" value="Submit Membership Request" id="submitBtn"  style="display:none" />
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_self" id="playerMembership">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="Z3J4KTXJ87W8N">
            <input class="disabled button" type="submit" @onclick="@AddMember" value="Pay Now with Pay Pal -- $100" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" id="playerSubmitMembership">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_self" id="generalMembership" style="display:none">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="DDJJLNUMQWZUQ">
            <input class="disabled button" type="submit" @onclick="@AddMember" value="Pay Now with Pay Pal -- $25" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" id="generalSubmitMembership">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
    <br />

</section>


@inject IJSRuntime JSRuntime
@code {

    private String memberName;
    private String memberEmail;
    private String memberPhone;
    private String memberAddress;
    private String memberMessage;
    private bool checkbox;
    private enum membershipType { player, general };
    private membershipType TypeOfMembership { get; set; } = membershipType.player;
    private String paymentMethod = "Pay Pal";

    private void AddMember()
    {
        if (!checkbox)
        {
            paymentMethod = "Pay Pal";
        }
        var addMember = new MemberShipHelper(Configuration) { Name = memberName, Email = memberEmail, Phone = memberPhone, Address = memberAddress, Message = memberMessage, MembershipType = TypeOfMembership.ToString(), PaymentMethod = paymentMethod };
        MembershipServices.EmailandSaveRecords(addMember);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("MembershipFormListener");
        }
    }
}

