@page "/PlayerProfile"

@using NCCC_Blazor.Data
@inject PlayerModelService Services

<header class="playerProfile_header header">
    <div class="header_content">
        <h2 class="heading">PLAYERS PROFILE</h2>
    </div>
</header>
<section>
    <div class="wrapper center">
        <h2 class="sub_heading">To be the Premier community cricket team in Canada.</h2>
    </div>
    <br />
    <br />
    <div class="blocks">
        @if (players == null)
        {
            <p><em>Loading...</em></p> }
        else
        {
            int i = 0;

            <div>
                @foreach (var player in players)
                {
                    <div class="profile_info_container block" id="@player.PlayerModel[i].ID">
                        <div class="tilt" data-tilt>
                            <img src="../Static/Images/players/@player.PlayerModel[i].Image_file" class="responsive" alt="@player.PlayerModel[i].ID" />
                        </div>
                        <div class="player_information">
                            <h2>@player.PlayerModel[i].PlayerName</h2>
                            <br />
                            <p><strong>Role:</strong> @player.PlayerModel[i].Role</p>
                            <p><strong>Bowling Style:</strong> @player.PlayerModel[i].Ball</p>
                            <p><strong>Batting Style:</strong> @player.PlayerModel[i].Bat</p>
                            <p><strong>Club:</strong> @player.PlayerModel[i].Club</p>
                            <p><strong>Team:</strong> @player.PlayerModel[i].Team</p>
                        </div>
                    </div>
                    <div id="no-more-tables">
                        <h4 class="center">BATTING</h4>
                        <table class="table center">
                            <thead>
                                <tr>
                                    <th>MATCHES</th>
                                    <th>INNINGS</th>
                                    <th>RUN SCORED</th>
                                    <th>4's</th>
                                    <th>6's</th>
                                    <th>STRIKE RATE</th>
                                    <th>50'S</th>
                                    <th>HUNDRED</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="MATCHES">@player.PlayerModel[i].Batting.Matches</td>
                                    <td data-title="INNINGS">@player.PlayerModel[i].Batting.Innings</td>
                                    <td data-title="RUN SCORED">@player.PlayerModel[i].Batting.RunScored</td>
                                    <td data-title="4's">@player.PlayerModel[i].Batting.Fours</td>
                                    <td data-title="6's">@player.PlayerModel[i].Batting.Sixs</td>
                                    <td data-title="STRIKE RATE">@player.PlayerModel[i].Batting.StrikeRate</td>
                                    <td data-title="50's">@player.PlayerModel[i].Batting.Fifties</td>
                                    <td data-title="HUNDRED">@player.PlayerModel[i].Batting.Hundred</td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="center">BLOWING</h4>
                        <table class="table center">
                            <thead>
                                <tr>
                                    <th>MATCHES</th>
                                    <th>INNINGS</th>
                                    <th>BALLS</th>
                                    <th>5 WICKET</th>
                                    <th>RUNS</th>
                                    <th>MAIDENS</th>
                                    <th>WICKET</th>
                                    <th>ECONOMY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="MATCHES">@player.PlayerModel[i].Bowling.Matches</td>
                                    <td data-title="INNINGS">@player.PlayerModel[i].Bowling.Innings</td>
                                    <td data-title="BALLS">@player.PlayerModel[i].Bowling.Balls</td>
                                    <td data-title="5 WICKET">@player.PlayerModel[i].Bowling.FiveWicket</td>
                                    <td data-title="RUNS">@player.PlayerModel[i].Bowling.Runs</td>
                                    <td data-title="MAIDENS">@player.PlayerModel[i].Bowling.Maidens</td>
                                    <td data-title="WICKET">@player.PlayerModel[i].Bowling.Wicket</td>
                                    <td data-title="ECONOMY">@player.PlayerModel[i].Bowling.Economy</td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="center">FIELDING</h4>
                        <table class="table center">
                            <thead>
                                <tr>
                                    <th>MATCHES</th>
                                    <th>INNINGS</th>
                                    <th>CATCHES</th>
                                    <th>RAN OUT</th>
                                    <th>STUMP</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="MATCHES">@player.PlayerModel[i].Fielding.Matches</td>
                                    <td data-title="INNINGS">@player.PlayerModel[i].Fielding.Innings</td>
                                    <td data-title="CATCHES">@player.PlayerModel[i].Fielding.Catches</td>
                                    <td data-title="RAN OUT">@player.PlayerModel[i].Fielding.RanOut</td>
                                    <td data-title="STUMP">@player.PlayerModel[i].Fielding.Stump</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    i++;
                }
            </div>
        }
        
    </div>
</section>

@code { private PlayerList[] players;

    protected override async Task OnInitializedAsync()
    {
        players = await Services.GetPlayers();
    }
}
@inject IJSRuntime JSRuntime

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("TiltListener");
        }
    }
}
